dump/
.vscode/
# .bat/shortcuts-i-have-in-system32/speedtest.exe
# .bat/shortcuts-i-have-in-system32/speedtest.md
misc/espanso/personal-info.yml
# .bat/shortcuts-i-have-in-system32/NirCmd.chm 
# .bat/shortcuts-i-have-in-system32/nircmd.exe 
# .bat/shortcuts-i-have-in-system32/nircmdc.exe
